<div class="grid">
    <div class="col-12">
        <div class="card px-2 sm:px-6 py-6">
            <p-toast></p-toast>

            <p-toolbar styleClass="mb-4 flex flex-column sm:flex-row justify-content-center sm:justify-content-end gap-2">
                <ng-template pTemplate="left">
                    <div class="flex flex-wrap justify-content-center gap-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success w-full sm:w-auto" (click)="openNew()"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger w-full sm:w-auto" (click)="deleteSelectedPrecios()" [disabled]="!selectedPrecios || !selectedPrecios.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="precios" responsiveLayout="stack" [breakpoint]="'960px'" [rows]="10" [globalFilterFields]="['nombre', 'precio_sin_iva', 'precio_con_iva']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="{first} a {last} de {totalRecords}" [(selection)]="selectedPrecios" selectionMode="multiple" [rowHover]="true" dataKey="id">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center gap-2">
                        <h5 class="m-0 text-center md:text-left">Gestionar Precios</h5>
                        <span class="block p-input-icon-left w-full sm:w-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full"/>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nombre" class="text-center">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="precio_sin_iva" class="text-center">Precio sin IVA <p-sortIcon field="precio_sin_iva"></p-sortIcon></th>
                        <th pSortableColumn="precio_con_iva" class="text-center">Precio con IVA <p-sortIcon field="precio_con_iva"></p-sortIcon></th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-precio>
                    <tr>
                        <td>
                            <span class="p-column-title font-bold">Seleccionar</span>
                            <p-tableCheckbox [value]="precio"></p-tableCheckbox>
                        </td>
                        <td class="text-center">
                            <span class="p-column-title font-bold">Nombre</span>
                            {{precio.nombre}}
                        </td>
                        <td class="text-center">
                            <span class="p-column-title font-bold">Sin IVA</span>
                            {{precio.precio_sin_iva | currency:'USD'}}
                        </td>
                        <td class="text-center">
                            <span class="p-column-title font-bold">Con IVA</span>
                            {{precio.precio_con_iva | currency:'USD'}}
                        </td>
                        <td>
                            <span class="p-column-title font-bold">Acciones</span>
                            <div class="flex justify-content-center">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPrecio(precio)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePrecio(precio)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="precioDialog" [style]="{width: '90vw', maxWidth: '450px'}" header="Detalles del Precio" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="nombre">Nombre</label>
                    <input type="text" pInputText id="nombre" [(ngModel)]="precio.nombre" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !precio.nombre}"/>
                </div>

                <div class="field">
                    <label for="categoria">Categoría</label>
                    <p-dropdown id="categoria" [options]="categorias" [(ngModel)]="precio.categoria_id" optionLabel="nombre" optionValue="id" placeholder="Seleccionar..."></p-dropdown>
                </div>

                <div class="formgrid grid">
                    <div class="field col-12 sm:col-6">
                        <label for="precio_sin_iva">Sin IVA</label>
                        <p-inputNumber id="precio_sin_iva" [(ngModel)]="precio.precio_sin_iva" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                    <div class="field col-12 sm:col-6">
                        <label for="precio_con_iva">Con IVA</label>
                        <p-inputNumber id="precio_con_iva" [(ngModel)]="precio.precio_con_iva" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="savePrecio()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePrecioDialog" header="Confirmar" [modal]="true" [style]="{width: '90vw', maxWidth: '450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="precio">¿Eliminar <b>{{precio.nombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletePrecioDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
